# Lab Experiment 01: Data Loading

## 1. Introduction
In this notebook, we will learn how to load data from various sources using Pandas. We will cover:
- Loading data from CSV files
- Handling file paths
- Exporting data to CSV
- Loading built-in datasets

In [ ]:
import pandas as pd

pd.read_csv("C:\\Users\\Shivam\\Downloads\\archive.zip")

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016,57850,49704
2,Ford,Mondeo,1.6,Diesel,2014,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988,210814,1705
4,VW,Polo,1.0,Petrol,2006,127869,4101
...,...,...,...,...,...,...,...
49995,BMW,M5,5.0,Petrol,2018,28664,113006
49996,Toyota,Prius,1.8,Hybrid,2003,105120,9430
49997,Ford,Mondeo,1.6,Diesel,2022,4030,49852
49998,Ford,Focus,1.0,Diesel,2016,26468,23630
49999,VW,Golf,1.4,Diesel,2012,109300,10400

## 2. Loading Data from CSV
### Handling File Paths
When copying paths in Windows, we often get backslashes (`\`). In Python strings, backslashes are escape characters. To use them in a path, we can either:
- Use double backslashes (`\\`)
- Use forward slashes (`/`)
- Use raw strings (prefix with `r`)

**Note:** The path below is an example. Ensure the file exists at this location or update the path.

In [ ]:
import pandas as pd

df = pd.read_csv("C:\\Users\\Shivam\\Downloads\\archive.zip", index_col="Manufacturer")
print(df.head())

                   Model  Engine size Fuel type  Year of manufacture  Mileage  \
Manufacturer
Ford              Fiesta          1.0    Petrol                 2002   127300
Porsche       718 Cayman          4.0    Petrol                 2016    57850
Ford              Mondeo          1.6    Diesel                 2014    39190
Toyota              RAV4          1.8    Hybrid                 1988   210814
VW                  Polo          1.0    Petrol                 2006   127869

              Price
Manufacturer
Ford           3074
Porsche       49704
Ford          24072
Toyota         1705
VW             4101

## 3. Exporting Data
We can save our dataframe to a CSV file using the `to_csv()` method. Setting `index=False` prevents pandas from writing the row index into the file.

In [ ]:
import pandas as pd

df = pd.read_csv("C:\\Users\\Shivam\\Downloads\\archive.zip")
df.to_csv("Model.csv", index=False)

### Verifying the Export
We can read the exported file back to verify it was saved correctly.

In [4]:
pd.read_csv("Model")

,Unnamed: 0,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,0,Ford,Fiesta,1.0,Petrol,2002,127300,3074
1,1,Porsche,718 Cayman,4.0,Petrol,2016,57850,49704
2,2,Ford,Mondeo,1.6,Diesel,2014,39190,24072
3,3,Toyota,RAV4,1.8,Hybrid,1988,210814,1705
4,4,VW,Polo,1.0,Petrol,2006,127869,4101
...,...,...,...,...,...,...,...,...
49995,49995,BMW,M5,5.0,Petrol,2018,28664,113006
49996,49996,Toyota,Prius,1.8,Hybrid,2003,105120,9430
49997,49997,Ford,Mondeo,1.6,Diesel,2022,4030,49852
49998,49998,Ford,Focus,1.0,Diesel,2016,26468,23630
49999,49999,VW,Golf,1.4,Diesel,2012,109300,10400