# Penguins Dataset Analysis

This notebook demonstrates various data analysis techniques using the `penguins` dataset from the `seaborn` library. It covers basic pandas operations such as data inspection, selection, filtering, and aggregation.

## Objectives
- Load and inspect the dataset.
- Perform data selection and filtering.
- Summarize data statistics.
- Group and aggregate data.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

df = sns.load_dataset("penguins")
df.head(5)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

### 1. Print first 25 entries

**Purpose:** To inspect the beginning of the dataset to get an initial understanding of the data values and structure.
**Method:** The `head(n)` method returns the first `n` rows of the DataFrame.

In [2]:
df.head(25)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,Female
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,Male
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,Male
15,Adelie,Torgersen,36.6,17.8,185.0,3700.0,Female
16,Adelie,Torgersen,38.7,19.0,195.0,3450.0,Female
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,Male
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,Female
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,Male
20,Adelie,Biscoe,37.8,18.3,174.0,3400.0,Female
21,Adelie,Biscoe,37.7,18.7,180.0,3600.0,Male
22,Adelie,Biscoe,35.9,19.2,189.0,3800.0,Female
23,Adelie,Biscoe,38.2,18.1,185.0,3950.0,Male
24,Adelie,Biscoe,38.8,17.2,180.0,3800.0,Male

### 2. Print last 10 entries

**Purpose:** To check the end of the dataset, which is useful for verifying data completeness and checking for any appending issues.
**Method:** The `tail(n)` method returns the last `n` rows of the DataFrame.

In [3]:
df.tail(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
334,Gentoo,Biscoe,46.2,14.1,217.0,4375.0,Female
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,Male
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

### 3. Print number of rows and columns of the data frame

**Purpose:** To know the dimensions of the dataset, i.e., how many samples (rows) and features (columns) are present.
**Method:** The `shape` attribute returns a tuple representing the dimensionality of the DataFrame in the format `(rows, columns)`.

In [4]:
f"No. of rows : {df.shape[0]} and column : {df.shape[1]}"

'No. of rows : 344 and column : 7'

### 4. Print names of all columns

**Purpose:** To get a list of all feature names in the dataset for reference.
**Method:** The `columns` attribute returns an Index object containing the column labels.

In [5]:
df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

### 5. Print the data type of each column

**Purpose:** To understand the data type of each column (e.g., integer, float, object/string), which is crucial for determining appropriate analysis and preprocessing steps.
**Method:** The `dtypes` attribute returns a Series with the data type of each column. `reset_index()` is used here to display the result as a DataFrame for better readability.

In [ ]:
# reset_index convers the series in data frames
# df.dtypes

df.dtypes.reset_index()

               index        0
0            species   object
1             island   object
2     bill_length_mm  float64
3      bill_depth_mm  float64
4  flipper_length_mm  float64
5        body_mass_g  float64
6                sex   object

### 6. Print only species column

**Purpose:** To isolate and examine the data within a specific column.
**Method:** Columns can be accessed as attributes (e.g., `df.species`) or using dictionary-style indexing (e.g., `df['species']`). `reset_index()` is used to format the output as a DataFrame.

In [7]:
df.species.reset_index()

     index species
0        0  Adelie
1        1  Adelie
2        2  Adelie
3        3  Adelie
4        4  Adelie
..     ...     ...
339    339  Gentoo
340    340  Gentoo
341    341  Gentoo
342    342  Gentoo
343    343  Gentoo

[344 rows x 2 columns]

In [ ]:
# to rename columns
df.species.reset_index().rename(columns={"index": "Column_Names"})

     Column_Names species
0               0  Adelie
1               1  Adelie
2               2  Adelie
3               3  Adelie
4               4  Adelie
..            ...     ...
339           339  Gentoo
340           340  Gentoo
341           341  Gentoo
342           342  Gentoo
343           343  Gentoo

[344 rows x 2 columns]

### 7. How many different types of species are there in dataset

**Purpose:** To identify the distinct categories present in a categorical variable and count them.
**Method:** 
- `unique()` returns an array of unique values.
- `nunique()` returns the number of unique values.

In [ ]:
# dataframe.column_name.unique() returns an array of unique element of that column
# like : array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)
list(df.species.unique())

# to get the count of unique element you can write df.column_name.nunique() will return number of unique elements
df.species.nunique()

3

### 8. What is the most popular species

**Purpose:** To determine the mode (most frequent value) of a categorical variable.
**Method:** `value_counts()` returns a Series containing counts of unique values, sorted in descending order. `head(1)` selects the top entry, which is the most frequent.

In [ ]:
# value_counts() will count the occurence of any column name in data frame
# results :
# species
# Adelie       152
# Gentoo       124
# Chinstrap     68
# Name: count, dtype: int64
df.species.value_counts().reset_index().head(1)

  species  count
0  Adelie    152

### 9. Summarize the data frame

**Purpose:** To obtain a statistical summary of the dataset, including measures of central tendency, dispersion, and distribution shape.
**Method:** `describe()` generates descriptive statistics. By default, it handles numeric columns. Using `include='all'` forces it to include summary statistics for all columns, including categorical ones (showing count, unique, top, freq).

In [ ]:
# What it does:

# Normally, df.describe() only summarizes numeric columns (mean, std, min, max, etc.).

# By adding include='all', you tell pandas:
# â†’ â€œSummarize all columns, including categorical (strings) and object types.â€

df.describe(include="all")

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
count,344,344,342.000000,342.000000,342.000000,342.000000,333
unique,3,3,NaN,NaN,NaN,NaN,2
top,Adelie,Biscoe,NaN,NaN,NaN,NaN,Male
freq,152,168,NaN,NaN,NaN,NaN,168
mean,NaN,NaN,43.921930,17.151170,200.915205,4201.754386,NaN
std,NaN,NaN,5.459584,1.974793,14.061714,801.954536,NaN
min,NaN,NaN,32.100000,13.100000,172.000000,2700.000000,NaN
25%,NaN,NaN,39.225000,15.600000,190.000000,3550.000000,NaN
50%,NaN,NaN,44.450000,17.300000,197.000000,4050.000000,NaN
75%,NaN,NaN,48.500000,18.700000,213.000000,4750.000000,NaN
max,NaN,NaN,59.600000,21.500000,231.000000,6300.000000,NaN

### 10. Summarize any one of the columns

**Purpose:** To get statistics for a specific feature.
**Method:** Calling `describe()` on a single column (Series) provides statistics relevant to that column's data type.

In [12]:
df.bill_length_mm.describe().reset_index()

   index  bill_length_mm
0  count      342.000000
1   mean       43.921930
2    std        5.459584
3    min       32.100000
4    25%       39.225000
5    50%       44.450000
6    75%       48.500000
7    max       59.600000

### 11. Find mean of data frame

**Purpose:** To calculate the average value for each numeric column.
**Method:** The `mean()` method computes the arithmetic mean. `numeric_only=True` is often required to avoid errors with non-numeric data in newer pandas versions.

In [ ]:
df.mean(numeric_only=True)

### 12. How many different islands are there in this dataset and print their names

**Purpose:** To identify the unique locations (islands) where data was collected.
**Method:** `unique()` returns the unique values in the 'island' column.

In [13]:
df.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

### 13. Find total count of occurrence of each gender

**Purpose:** To see the distribution of samples across genders.
**Method:** `value_counts()` on the 'sex' column counts how many times each gender appears.

In [14]:
df.sex.value_counts()

sex
Male      168
Female    165
Name: count, dtype: int64

### 14. Print rows 3-9

**Purpose:** To select a specific range of rows by their integer position.
**Method:** `iloc` is used for integer-location based indexing. `3:10` selects rows from index 3 up to (but not including) 10.

In [ ]:
df.iloc[3:10, 0:]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

### 15. Select every row after the fourth row and all columns

**Purpose:** To subset the data starting from a specific index to the end.
**Method:** `iloc[4:, :]` selects rows starting from index 4 to the end, and all columns.

In [ ]:
df.iloc[4:, 0:]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

### 16. Select every row up to 4th row and all columns

**Purpose:** To select the initial set of rows up to a specific index.
**Method:** `iloc[:4, :]` selects rows from the beginning up to (but not including) index 4.

In [ ]:
df.iloc[:4, 0:]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN

### 17. Select every second row starting from the 5th row

**Purpose:** To select rows with a specific step (stride).
**Method:** `iloc[4::2, :]` selects rows starting from index 4 to the end, with a step of 2.

In [ ]:
df.iloc[4::2, :]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,Female
...,...,...,...,...,...,...,...
334,Gentoo,Biscoe,46.2,14.1,217.0,4375.0,Female
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female

### 18. Select rows where bill_length_mm is greater than 39 and sex is 'Male'

**Purpose:** To filter the dataset based on multiple conditions.
**Method:** Boolean indexing is used. Conditions are combined using the `&` (bitwise AND) operator. Each condition must be wrapped in parentheses.

In [ ]:
df[(df.bill_length_mm > 39) & (df.sex == "Male")]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,Male
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,Male
...,...,...,...,...,...,...,...
333,Gentoo,Biscoe,51.5,16.3,230.0,5500.0,Male
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,Male
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,Male
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

### 19. Find records for only two species where bill_length_mm is greater than 20

**Purpose:** To filter data based on complex conditions involving multiple column values.
**Method:** Using boolean indexing with `&` (AND) and `|` (OR) operators.

In [ ]:
df[(df.bill_depth_mm > 20) & (df.species == "Adelie") | (df.species == "Gentoo")].shape

(138, 7)

### 20. Select the rows with index 3 & 5

**Purpose:** To select specific rows by their index label.
**Method:** `iloc` with slicing and step, or `loc` for label-based indexing.

In [21]:
df.iloc[3:6:2]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male

In [ ]:
df.loc[3:5, "species":"bill_depth_mm"]

  species     island  bill_length_mm  bill_depth_mm
3  Adelie  Torgersen             NaN            NaN
4  Adelie  Torgersen            36.7           19.3
5  Adelie  Torgersen            39.3           20.6

### 21. For each island, calculate minimum and maximum flipper_length_mm

**Purpose:** To perform grouped aggregations.
**Method:** `groupby()` followed by `agg()` to apply multiple aggregation functions.

In [ ]:
df.groupby("island").flipper_length_mm.agg({"sum", "count", "min", "max"}).reset_index()

      island      sum    min    max  count
0     Biscoe  35021.0  172.0  231.0    167
1      Dream  23941.0  178.0  212.0    124
2  Torgersen   9751.0  176.0  210.0     51